@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display-flex{
  display: flex;
}
/* dark 2 */
.text-gray{
  color: rgba(66, 66, 66, 1);
  font-size: 20px;
}
/* dark-3 */
.text-light-gray{
  color: rgba(114, 114, 114, 1);
  font-size: 16px;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.primary-btn{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 144, 14, 1);
  padding: 20px 25px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}

/* share style end  */


.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.brand{
  font-size: 3rem;
  font-weight: 700;
}

.banner-contain{
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;  
  }
  .banner{
    
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  }
  .banner-images{
    width: 100%;
  }
  .teas-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  #quick-list{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(114, 114, 114, 1);
  }
  
  .features{
    color: rgba(255, 144, 14, 1);
    font-size: 2.8rem;
    font-weight: 700;
  }
  .tems{
    align-items: center;
  }
  .our-features{
    margin-left: 130px;
    max-width: 530px;
  }
  .fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
  }
  .facts-cantainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
.fact-number{
  font-size: 2.8rem;
  color: rgba(66, 66, 66, 1);
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;

}
.fact-name{
  font-size: 20px;
  color: rgba(114, 114, 114, 1);
  font-weight: 600;
}
.fact-description{
  max-width: 540px;
}
.sopnsor-info{
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  max-width: 540px;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sponsor-companies img{
  filter: grayscale(100%);

}
  /* Responsive Start */
  @media screen and (max-width:576px){
    .navbar, .nav-links, .tems{
      flex-direction: column;
    }
    .teas-img-container{      
      grid-template-columns: repeat(1, 1fr);
          }
          .our-features{
            margin-left: 20px;
           
          }
          .facts-cantainer{            
            grid-template-columns: repeat(1, 1fr);
            gap: 24px;            
          }
          .sponsor-companies{            
            grid-template-columns: repeat(1, 1fr);
            gap: 50px;
          }
  }
  @media screen and (min-width:576px) and (max-width:992px){
    .tems{
      flex-direction: column;
    }
    .our-features{
      margin: 50px auto;
    }
    .sponsor-companies{            
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
    .facts-cantainer{            
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;            
    }
  }